.profile {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: rgb(114, 114, 114);
}

.profilePicture {
    display: flex;
    flex-direction: column;
}

.profilePicture img {
    /* border-radius: 10%; */
    width: 400px;
}
