.selectedPage {
    font-weight: bold;
}

.userCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
}

.card {
    display: flex;
    box-shadow: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.918);
}
.userPhoto img {
    border-radius: 20px;
}
