.nav {
    display: flex;
    flex-direction: column;
    
}

.item {
    display: flex;
    padding: 2px;
    border: 1px solid rgba(0,108,255,1);
    border-radius: 5px;
    margin-bottom: 5px;
}

.item:hover {
    background: rgba(0,108,255,1);
    border-radius: 10px;
    color: white;

}
.item:hover a {
    color: white;

}


.item a {
    margin: 10px;
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.icon {
    margin: 10px;
}
.item img {
    width: 20px;
}
