.nav {
    display: flex;
    flex-direction: column;
    
}

.item {
    display: flex;
    padding: 10px;
}

.item:hover {
    background: rgb(196, 196, 196);
    border-radius: 10px;
    color: white;
}


.item a {
    margin: 10px;
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.icon {
    margin: 10px;
}
.item img {
    width: 20px;
}
