.footer{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0,108,255,1) 0%, rgba(8,55,220,1) 100%);
    color: rgb(255, 255, 255);
    border-radius:  20px 20px 0 0;
}