.profile {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: rgb(114, 114, 114);
}
.profilePicture img {
    border-radius: 20px;
    width: 400px;
}

.contact {
    padding-left: 25px;
}
