/* .app {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 1000px;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.appContent {
    display: flex;
} */
